

.image-row img:hover {
    transform: scale(1.05);
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-details {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007b5e;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.section:nth-child(even) {
    background-color: #ffffff;
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.image-row img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}
